<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.order.dao.TestMapper">
  <resultMap id="BaseResultMap" type="com.order.entity.Test">
    <id column="a" jdbcType="INTEGER" property="a" />
    <result column="e" jdbcType="TINYINT" property="e" />
    <result column="c" jdbcType="DECIMAL" property="c" />
    <result column="b" jdbcType="VARCHAR" property="b" />
    <result column="d" jdbcType="TIMESTAMP" property="d" />
  </resultMap>
  <sql id="Base_Column_List">
    a, e, c, b, d
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from test
    where a = #{a,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from test
    where a = #{a,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.order.entity.Test">
    insert into test (a, e, c, b, 
      d)
    values (#{a,jdbcType=INTEGER}, #{e,jdbcType=TINYINT}, #{c,jdbcType=DECIMAL}, #{b,jdbcType=VARCHAR}, 
      #{d,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.order.entity.Test">
    insert into test
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="a != null">
        a,
      </if>
      <if test="e != null">
        e,
      </if>
      <if test="c != null">
        c,
      </if>
      <if test="b != null">
        b,
      </if>
      <if test="d != null">
        d,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="a != null">
        #{a,jdbcType=INTEGER},
      </if>
      <if test="e != null">
        #{e,jdbcType=TINYINT},
      </if>
      <if test="c != null">
        #{c,jdbcType=DECIMAL},
      </if>
      <if test="b != null">
        #{b,jdbcType=VARCHAR},
      </if>
      <if test="d != null">
        #{d,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.order.entity.Test">
    update test
    <set>
      <if test="e != null">
        e = #{e,jdbcType=TINYINT},
      </if>
      <if test="c != null">
        c = #{c,jdbcType=DECIMAL},
      </if>
      <if test="b != null">
        b = #{b,jdbcType=VARCHAR},
      </if>
      <if test="d != null">
        d = #{d,jdbcType=TIMESTAMP},
      </if>
    </set>
    where a = #{a,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.order.entity.Test">
    update test
    set e = #{e,jdbcType=TINYINT},
      c = #{c,jdbcType=DECIMAL},
      b = #{b,jdbcType=VARCHAR},
      d = #{d,jdbcType=TIMESTAMP}
    where a = #{a,jdbcType=INTEGER}
  </update>
</mapper>